<% layout('./layout.ejs') %>

<form action="" method="post">
    <input type="email" name="email" id="email">
    <input type="password" name="password" id="password">
    <button type="submit">login</button>
</form>